*{
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 5px solid black;
    background-color: deepskyblue;
}

.hidden{
    display: none;
}

.valid{
    color: green;
    border: solid 5px green;
}

.invalid{
    color: red;
    border: solid 5px red;
}

.block{
    font-size: 20px;
    display: block;
}

#weatherPic{
    height: 150px;
    width: 150px;
}
